_pycache__/
*.pyc
*.py[cod]
*$py.class
.vscode/
.log
.env
.python-version
Pipfile
.Python
staticfiles/
.gitignore
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
*.log
esh/
db.sqlite3
worker.py
task.py
